/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Patua+One|Source+Code+Pro|Inconsolata";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****
font-family: 'Patua One', cursive; 
font-family: 'Source Code Pro', monospace;
****/
HTML {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

MAIN {
  margin-top: 3rem; }

SECTION {
  min-height: calc(100vh - 3rem);
  padding: 1rem 0; }
  SECTION:nth-child(odd) {
    background: #999; }

.treeView {
  font-family: 'Inconsolata', monospace; }
  .treeView UL {
    display: block; }
  .treeView input[type="checkbox"] {
    vertical-align: middle;
    display: none; }
    .treeView input[type="checkbox"] + LABEL {
      display: block;
      font-weight: bold;
      transition: 0.5s color linear; }
      .treeView input[type="checkbox"] + LABEL:before {
        content: "\f196";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0.25rem 0.5rem;
        vertical-align: middle; }
      .treeView input[type="checkbox"] + LABEL SPAN {
        font-size: 85%;
        color: rgba(68, 68, 68, 0.55); }
      .treeView input[type="checkbox"] + LABEL + DIV {
        overflow: hidden;
        padding-left: 1.8rem;
        max-height: 0;
        transition: max-height 0.8s; }
        .treeView input[type="checkbox"] + LABEL + DIV EM {
          color: #990099;
          font-weight: bold;
          font-style: italic; }
    .treeView input[type="checkbox"] ~ UL {
      max-height: 0;
      overflow: hidden;
      margin: 0 0.85rem;
      padding: 0 1rem;
      transition: max-height 0.8s; }
    .treeView input[type="checkbox"]:checked + LABEL {
      color: #990099; }
      .treeView input[type="checkbox"]:checked + LABEL:before {
        content: "\f147"; }
      .treeView input[type="checkbox"]:checked + LABEL + DIV {
        max-height: 100rem;
        padding: 0.5rem 1rem;
        border: 1px solid;
        margin-left: 1.8rem; }
    .treeView input[type="checkbox"]:checked ~ UL {
      max-height: 100000px;
      transition: max-height 0.8s; }
  .treeView LABEL {
    vertical-align: middle; }
  .treeView .hasSubTree {
    position: relative; }
    .treeView .hasSubTree > * > UL:after {
      content: "},";
      font-weight: bold; }
    .treeView .hasSubTree > LI > UL > LI {
      position: relative;
      border-left: 1px solid #990099; }
      .treeView .hasSubTree > LI > UL > LI:first-child:before, .treeView .hasSubTree > LI > UL > LI:last-child:after {
        content: '';
        width: 0.5rem;
        height: 1px;
        display: inline-block;
        position: absolute;
        left: 0; }
      .treeView .hasSubTree > LI > UL > LI:first-child:before {
        border-top: 1px solid #990099;
        top: 0; }
      .treeView .hasSubTree > LI > UL > LI:last-child:after {
        border-bottom: 1px solid #990099;
        bottom: 0; }
    .treeView .hasSubTree > LI > INPUT[type="checkbox"] + LABEL:after {
      content: " { ... },"; }
    .treeView .hasSubTree > LI > INPUT[type="checkbox"]:checked + LABEL:after {
      content: " {"; }
    .treeView .hasSubTree.noComma > * > UL:after {
      content: "}";
      font-weight: bold; }
    .treeView .hasSubTree.noComma > LI > INPUT[type="checkbox"] + LABEL:after {
      content: " { ... }"; }

.textInput {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem; }
  .textInput I, .textInput INPUT {
    display: inline-block;
    transition: 0.3s all linear; }
  .textInput INPUT {
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    background: transparent;
    padding: 0 0.25rem 0 0.5rem;
    color: #fff;
    line-height: 2rem;
    border: 0;
    outline: none; }
    .textInput INPUT:focus + I {
      opacity: 1;
      padding: 0 0.5rem 0 0.25rem;
      max-width: 100%; }
  .textInput I {
    padding: 0;
    line-height: 2rem;
    opacity: 0;
    max-width: 0;
    cursor: pointer; }
  .textInput:hover I {
    padding: 0 0.5rem 0 0.25rem;
    opacity: 1;
    max-width: 100%; }

.numInput {
  display: inline-flex;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem; }
  .numInput I, .numInput SPAN {
    display: inline-block;
    transition: 0.3s all linear; }
  .numInput SPAN {
    order: 2; }
  .numInput I[class*=Btn] {
    cursor: pointer; }
    .numInput I[class*=Btn]::selection {
      background: transparent; }
    .numInput I[class*=Btn].plusBtn {
      order: 3; }
    .numInput I[class*=Btn].minusBtn {
      order: 1; }

.theme-default {
  color: #fff;
  border: 1px solid currentColor;
  margin: 1rem;
  line-height: 2rem;
  padding: 0;
  border-radius: 5px;
  overflow: hidden; }
  .theme-default .plusBtn, .theme-default .minusBtn, .theme-default SPAN[class*=Value] {
    padding: 0 1rem;
    height: 100%; }
  .theme-default .plusBtn:hover, .theme-default .minusBtn:hover {
    background: #fff;
    color: black; }
  .theme-default SPAN[class*=Value]:focus {
    outline: none; }

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; } }
HEADER {
  background: #777;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  HEADER H1 {
    font-family: 'Patua One', cursive;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 25%; }
    HEADER H1:after {
      content: '< status: \00a0\00a0\00a0\00a0\00a0\00a0 pre-alpha >';
      font-size: 40%;
      position: absolute;
      bottom: -0.5em;
      right: 4.25em;
      color: #fff;
      transition: 0.5s all linear; }
  HEADER NAV {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    width: 70%;
    position: relative; }
    HEADER NAV A {
      color: #333;
      text-decoration: none; }
    HEADER NAV LI {
      display: inline-block;
      padding: 0 0.5rem;
      line-height: 3rem;
      transition: 0.3s all linear;
      font-size: 1rem; }
      HEADER NAV LI A {
        transition: 0.3s all linear; }
      HEADER NAV LI:hover {
        background: #990099; }
        HEADER NAV LI:hover A {
          color: #fff; }
      HEADER NAV LI.title {
        padding: 0 0 0 1.5rem;
        font-family: 'Patua One', cursive;
        font-size: 1rem;
        vertical-align: top; }
        HEADER NAV LI.title:hover {
          background: transparent; }
      HEADER NAV LI.docs {
        float: right;
        font-family: 'Patua One', cursive;
        font-size: 1.3rem; }
      HEADER NAV LI.github {
        float: right;
        font-size: 2.3rem; }

/*# sourceMappingURL=style.css.map */
