@import 'https://fonts.googleapis.com/css?family=Patua+One|Source+Code+Pro|Inconsolata';

/****
font-family: 'Patua One', cursive; 
font-family: 'Source Code Pro', monospace;
****/

HTML {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

BODY {
	//background: #333;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

MAIN {
	margin-top: 3rem;
}

SECTION {
	min-height: calc(100vh - 3rem);
	padding: 1rem 0;
	&:nth-child(odd) {
		background: #999;
	}
	&.docs {
	}
}

.treeView {
	font-family: 'Inconsolata', monospace;
	UL {
		display: block;
		//background: rgba($highlightColor,0.1);
	}
	input[type="checkbox"] {
		vertical-align: middle;
		display: none;
		& + LABEL {
			display: block;
			font-weight: bold;
			transition: 0.5s color linear;
			&:before {
				content: "\f196";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin: 0.25rem 0.5rem;
				vertical-align: middle;
			}
			SPAN {
				font-size: 85%;
				color: rgba(#444, 0.55);
			}
			& + DIV {
				overflow: hidden;
				padding-left: 1.8rem;
				max-height: 0;
				transition: max-height 0.8s;
				EM {
					color: $highlightColor;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
		& ~ UL {
			max-height: 0;
			overflow: hidden;
			margin: 0 0.85rem;
			padding: 0 1rem;
			transition: max-height 0.8s;
		}

		&:checked {
			& + LABEL {
				color: $highlightColor;
				&:before {
					content: "\f147";
				}
				& + DIV {
					max-height: 100rem;
					padding: 0.5rem 1rem;
					border: 1px solid;
					margin-left: 1.8rem;
				}
			}
			& ~ UL {
				max-height: 100000px;
				transition: max-height 0.8s;
			}
		}
	}
	LABEL {
		vertical-align: middle;
	}
	.hasSubTree {
		position: relative;
		& > * > UL:after {
			content: "},";
			font-weight: bold;
		}
		& > LI > UL {
			> LI {
				position: relative;
				border-left: 1px solid $highlightColor;
				&:first-child:before,
				&:last-child:after {
					content: '';
					width: 0.5rem;
					height: 1px;
					display: inline-block;
					position: absolute;
					left: 0;
				}
				&:first-child:before {
					border-top: 1px solid $highlightColor;
					top: 0;
				}
				&:last-child:after {
					border-bottom: 1px solid $highlightColor;
					bottom: 0;
				}
			}
		}
		& > LI > INPUT[type="checkbox"] {
			& + LABEL {
				&:after {
					content: " { ... },"
				}
			}
			&:checked + LABEL {
				&:after {
					content: " {"
				}
			}
		}
		&.noComma {
			& > * > UL:after {
				content: "}";
				font-weight: bold;
			}
			& > LI > INPUT[type="checkbox"] {
				& + LABEL {
					&:after {
						content: " { ... }"
					}
				}
			}
		}
	}
}

.textInput {
	display: inline-block;
	@include inputFont(1rem);
	I, INPUT {
		display: inline-block;
		transition: 0.3s all linear;
	}
	INPUT {
		@include inputFont(1rem);
		background: transparent;
		padding: 0 0.25rem 0 0.5rem;
		color: #fff;
		line-height: 2rem;
		border: 0;
		outline: none;
		&:focus {
			+ I {
				opacity: 1;
				padding: 0 0.5rem 0 0.25rem;
				max-width: 100%;
			}
		}
	}
	I {
		padding: 0;
		line-height: 2rem;
		opacity: 0;
		max-width: 0;
		cursor: pointer;
	}
	&:hover I {
		padding: 0 0.5rem 0 0.25rem;
		opacity: 1;
		max-width: 100%;
	}
}

.numInput {
	//default Styles
	display: inline-flex;
	@include inputFont(1rem);
	I, SPAN {
		display: inline-block;
		transition: 0.3s all linear;
	}
	SPAN {
		order: 2;
	}
	I[class*=Btn] {
		cursor: pointer;
		&::selection {
			background: transparent; 
		}
		&.plusBtn {
			order: 3;
		}
		&.minusBtn {
			order: 1;
		}
	}
}

.theme {
	&-default {
		//theme-default
		$defaultThemeColor: #fff;
		color: $defaultThemeColor;
		border: 1px solid currentColor;
		margin: 1rem;
		line-height: 2rem;
		padding: 0;
		border-radius: 5px;
		overflow: hidden;
		.plusBtn, .minusBtn, SPAN[class*=Value] {
			padding: 0 1rem;
			height: 100%;
		}
		.plusBtn, .minusBtn {  //number Input buttons
			&:hover {
				background: $defaultThemeColor;
				color: invert($defaultThemeColor);
			}
		}
		SPAN[class*=Value]:focus { //editable field
			outline: none;
		}
	}
}

@-webkit-keyframes neon {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
}

@keyframes neon {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
}