HEADER {
	background: #777;
	height: 3rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	H1 {
		@include headingFont(2rem);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		&:after {
			content: '< status: \00a0\00a0\00a0\00a0\00a0\00a0 pre-alpha >';
			font-size: 40%;
			position: absolute;
			bottom: -0.5em;
			right: 4.25em;
			color: #fff;
			transition: 0.5s all linear;
		}
	}
	NAV {
		display: inline-block;
		line-height: 100%;
		vertical-align: middle;
		width: 70%;
		position: relative;
		A {
			color: #333;
			text-decoration: none;
		}
		LI {
			display: inline-block;
			padding: 0 0.5rem;
			line-height: 3rem;
			transition: 0.3s all linear;
			font-size: 1rem;
			A {
				transition: 0.3s all linear;
			}
			&:hover {
				background: $highlightColor;
				A {
					color: #fff;
				}
			}
			&.title {
				padding: 0 0 0 1.5rem;
				@include headingFont(1rem);
				vertical-align: top;
				&:hover {
					background: transparent;
				}
			}
			&.docs {
				float: right;
				@include headingFont(1.3rem);
			}
			&.github {
				float: right;
				font-size: 2.3rem;
			}
		}
	}
}